body { 
	background-color: #c2d1f7;
}

#img-renata {
	width: 500px;
	height: 300px;
}

/* para tirar o padding da img de fundo que ficava dentro da row/col na tela do site total */
#fundoimg {
	padding: 0;
}

/* para por as infos em cima da imagem */
#infos{
	position: absolute;
	top: 50%;
	left: 5%;
}

/* para alterar a cor de fundo e a cor do texto do botao de agendamento */
#botaoagendar {
	background-color: blue;
	color: white;
}


/* para por o menu do cabeçalho mais pra direita e mais para a esquerda */
.marginheader {
	margin-left: 100px;
	margin-right: 100px;
}

.bg-footer {
	background-color: #1e3f92;
}

.bg-gradient {
	background: linear-gradient(55deg, #c2d1f7, #3c5597);
}

#preventiva {
	padding: 60px;

}